%h1= @movie.title
.jumbotron
  = @movie.description
- @comments.each do |comment|
  .comment
    %p=comment.user.name
    %p=comment.body
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
